body {
	background: white;
	color: black;
}
	#outer {
		height: 220px;
	}
	#outer div {
		width: 200px;
		height: 200px;
		margin: 10px;

		float: left;
	}
	#outer
	{
		width: 700px; height: 230px;
	}
	#a { background: purple; }
	#outer { background: white; }
	#b { background: blue; }
	#c { background: green; }
	div div {
		color: white;
	}
	#outer
	
	{
		color: white;
	}

